@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(255, 255, 255);
  --font-size-h1: 80px;
  --font-size-h2: 64px;
  --font-size-pressable: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.horizontal {
  display: flex;
  flex-direction: row;
}